.box {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    background-color: white;
}

.container {
    margin: 20px;
}

.grid-container {
    display: grid;
    width: 200px;
    grid-template-columns: 1fr 1fr;
}

.black {
    background-color: black;
}